
<div style="text-align: center">
    <h1>New Hospital</h1>

    <form method="post">
        <label>Id Hospital: </label>
        <input type="text" name="idhospital" class="form-control" requiered />

        <label>Nombre: </label>
        <input type="text" name="nombre" class="form-control" requiered />

        <label>Direccion: </label>
        <input type="text" name="direccion" class="form-control" requiered />

        <label>Telefono: </label>
        <input type="text" name="telefono" class="form-control" requiered />

        <label>Camas: </label>
        <input type="text" name="camas" class="form-control" requiered />

        <button class="btn btn-primary">Nuevo Hospital</button>

    </form>

    <h1 style="color: green">@ViewData["MENSAJE"]</h1>
</div>
